.cta-wrapper {
    background-color: $theme-color;
    padding: 28px 50px;
    border-radius: 10px;
    @include flex;
    justify-content: space-between;
    position: relative;
    margin-top: 160px;

     @include breakpoint (max-xxl){
       margin-top: 0;
    }

     @include breakpoint (max-lg){
       flex-wrap: wrap;
       gap: 30px;
       justify-content: center;
       text-align: center;
    }

    .cta-image {
        position: absolute;
        bottom: 0;
        left: 26%;

         @include breakpoint (max-xxl){
          display: none;
        }
    }

    .content {
        p {
            color: #0B0E13;
            font-size: 16px;
            font-weight: 400;
            text-transform: capitalize;
            margin-bottom: 10px;
        }

        h3 {
            color: $header-color;
        }
    }

    .contact-right {
        @include flex;
        gap: 50px;

        @include breakpoint (max-md){
           flex-wrap: wrap;
           gap: 30px;
           justify-content: center;
        }

        .contact-info {
            border-right: 1px solid rgba(11, 14, 19, 0.20);
            padding-right: 50px;

            @include breakpoint (max-lg){
               padding-right: 0;
               border-right: none;
            }

            h3 {
                font-family: $body-font;
                color: #0B0E13;
                font-size: 24px;
                font-weight: 700;
                text-transform: capitalize;
            }
            p {
                font-weight: 700;
                a {
                    color: #0B0E13;
                }
            }
        }

        .theme-btn {
            background-color: #0B0E13;
            color: $theme-color;

            &:hover {
                color: #0B0E13;
            }
        }
    }
}

.gt-cta-download-app-wrapper {
    @include breakpoint (max-xxl){
       padding-bottom: 120px;
    }

    @include breakpoint (max-lg){
        padding: 0;
    }

    .gt-cta-image {
       margin-bottom: -70px;

        @include breakpoint (max-xxl){
            margin-bottom: 0;
        }

        @include breakpoint (max-lg){
            text-align: center;
        }

        @include breakpoint (max-sm){
            margin-bottom: -35px;
        }

        img {
            @include imgw;
        }
    }

    .gt-cta-content {
        @include breakpoint (max-lg){
            text-align: center;
        }

        .gt-section-title-2 {
            h6 {
                padding: 0;

                &::before,&::after {
                    display: none;
                }
            }
        }

        .gt-cta-text {
            font-size: 18px;
            color: $white;
            margin-top: 30px;

            @include breakpoint (max-xl){
                font-size: 16px;
            }

            @include breakpoint (max-xxs){
                font-size: 14px;
            }
        }

        .gt-app-button {
            margin-top: 45px;
            @include flex;
            gap: 30px;

            @include breakpoint (max-lg){
               flex-wrap: wrap;
               gap: 20px;
               margin-top: 30px;
               justify-content: center;
            }
        }
    }
}

.gt-cta-download-app-section-4 {
    position: relative;
    z-index: 9;

    &::before {
        @include before;
       background: linear-gradient(97deg, var(--Primary-500, #ADFF00) 12.12%, rgba(11, 15, 19, 0.48) 70.01%);
        z-index: -1;
    }

    .gt-x-shape {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        z-index: -1;

        @include breakpoint (max-xl){
            display: none;
        }

        img {
            height: 100%;
        }
    }
}

.cta-newslettr-wrapper-3 {

    .cta-newsletter-content-3 {
         @include flex;
         gap: 110px;

         @include breakpoint (max-xxl) {
            flex-wrap: wrap;
            gap: 30px;
         }

        .icon-item {
          @include flex;
          gap: 20px;

          h5 {
            font-size: 18px;
            font-weight: 400;
            color: $white;
            text-transform: capitalize;
          }
        }

        
        form {
          max-width: 542px;
          width: 100%;
      }

    .form-clt {
        position: relative;

        .input-icon {
            top: 50%;
            left: 25px;
            transform: translateY(-50%);
            position: absolute;

            @include breakpoint (max-sm) {
              left: 10px;
            }
        }

        input {
            width: 100%;
            outline: none;
            border: none;
            background-color: $black;
            color: #797979;
            text-transform: uppercase;
            line-height: 1;
            padding: 20px 70px;
            border-radius: 10px;
            max-width: 542px;

             @include breakpoint (max-sm) {
               padding: 20px 48px;
                font-size: 14px;
            }

            &::placeholder {
                color: #797979;
            }
        }

        
        .theme-btn {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            color: $header-color;
            background-image: none;
            background: $theme-color;
            text-transform: uppercase;
            height: 60px;
            border-radius: 10px;
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 11% 100%);

            &:hover {
                background-color: $theme-color;
            }
            
            @include breakpoint (max-xxs){
               height: 57px;
               padding: 0 20px;
            }
        }
     } 
    }

    .social-icon {
      gap: 11px;
      justify-content: end;
      
      @include breakpoint (max-xxl) {
        justify-content: start;
      }

        a {
            display: inline-block;
            width: 61px;
            height: 61px;
            line-height: 61px;
            border-radius: 100px;
            border: 1px solid rgba(255, 255, 255, 0.20);
            background: #1C1D20;
            text-align: center;
            font-size: 22px;

            @include breakpoint (max-sm){
               width: 50px;
               height: 50px;
               line-height: 50px;
            }

            i {
                -webkit-transition: all 900ms ease;
                transition: all 900ms ease;
            }

            &:hover {
                color: $theme-color;
                border: 1px solid $theme-color;

                i {
                    -webkit-transform: rotateY(360deg);
                        transform: rotateY(360deg);
                }
            }
        }
    }
}

.cta-newsletter-section-3 {
  position: relative;
  padding: 55px 0;

   @include breakpoint (max-xxl) {
        background-color:   #1C1D20;
    }

    .container-fluid {
        padding: 0 255px;

         @include breakpoint (max-xl4) {
           padding: 0 70px;
        }

         @include breakpoint (max-xxxl) {
           padding: 0 50px;
        }

         @include breakpoint (max-xxl) {
           padding: 0 30px;
        }

        @include breakpoint (max-sm) {
           padding: 0 15px;
        }
    }

    .bg-shape-1 {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: -1;

       @include breakpoint (max-xxxl) {
        left: -16%;
      }

      @include breakpoint (max-xxl) {
        display: none;
      }
    }

    .bg-shape-2 {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;

       @include breakpoint (max-xl4) {
        right: -10%;
      }

       @include breakpoint (max-xxxl) {
        right: -17%;
      }

      @include breakpoint (max-xxl) {
        display: none;
      }
    }
}

.instagram-image {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        top: 0;
        bottom: 0px;
        right: 0;
        background: rgba(28, 29, 32, 0.80);
        transition: -webkit-transform 0.4s ease;
        transition: transform 0.4s ease;
        transition: transform 0.4s ease, -webkit-transform 0.4s ease;
        transform-origin: top right;
        -webkit-transform: scale(1, 0);
        transform: scale(1, 0);
        z-index: 9;
    }

    img {
        @include imgw;
        transform: scale(1.02);
        transition: all 1.5s ease-out;
    }

    .icon {
        display: inline-block;
        position: absolute;
        top: -100px;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 18px;
        color: $white;
        @include transition;
        opacity: 0;
        visibility: hidden;
        z-index: 99;
        width: 46px;
        height: 46px;
        line-height: 46px;
        text-align: center;
        border-radius: 50%;
        background-color: #0B0E13;

        &:hover {
            background: $theme-color;
            color: $header-color;
        }
    }

    &:hover {
        .icon {
            top: 50%;
            opacity: 1;
            visibility: visible;
        }

        img {
            -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
        }

        &::before {
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
            transform-origin: bottom center;
        }
    }
}