
//page scroll bar add
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px $bg-color; 
	border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: $theme-color;
	border-radius: 10px;
}
//page scroll bar add

//Basic Code Start
.fix {
  overflow: hidden;
}

.ralt{
 position: relative;
}

//Basic Code End

//Video Css Start
.ripple {
  position: relative;

  &::before,&::after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100px;
      height: 100px;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
       box-shadow: 0 0 0 0 rgba(203, 254, 28, 0.5);
      -webkit-animation: rippleOne 3s infinite;
      animation: rippleOne 3s infinite;
  }

  &::before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }

  &::after {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }
}
//Video Css End

.array-button {
  gap: 16px;
 position: relative;
 z-index: 9;

  @include breakpoint (max-xl) {
    flex-wrap: wrap;
  }

  .array-prev {
    width: 55px;
    height: 55px;
    line-height: 50px;
    text-align: center;
    background-color: $white;
    color: $header-color;
    @include transition;
    border-radius: 50%;
    overflow: hidden;

    @include breakpoint (max-sm) {
      width: 50px;
      height: 50px;
      line-height: 50px;
    }

   
  
    i {
       transform: rotate(45deg);
       @include transition;
    }
  
    &:hover {
         background-color: $theme-color;
        color: $header-color;
  
        i {
          transform: rotate(90deg);
        }
    }
  }
  
  .array-next {
       width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-color: $white;
    color: $header-color;
    @include transition;
    border-radius: 50%;

      @include breakpoint (max-sm) {
        width: 50px;
        height: 50px;
        line-height: 50px;
      }
      
      
      i {
        transform: rotate(45deg);
        @include transition;
      }
  
      &:hover {
        background-color: $theme-color;
        color: $header-color;
  
        i {
          transform: rotate(90deg);
        }
      }
  }

}

//pagination default

//pagination default

.swiper-dot {
  text-align: center;

  .swiper-pagination-bullet {
      width: 5px;
      height: 5px;
      transition: 0.6s;
      background-color: $white;
      
      border-radius: 0;
      opacity: 1;
      position: relative;
      &:not(:last-child){
        margin-right: 15px;
      }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $theme-color;
      border: 1px solid $theme-color;
      transition: 0.6s;
      position: relative;
      width: 5px;
      height: 5px;
      border-radius: 0;

      &::before {
        @include before;
        border: 1px solid $theme-color;
        width: 20px;
        height: 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
  }

}

.swiper-dot-2 {
  text-align: center;

  .swiper-pagination-bullet {
      width: 5px;
      height: 5px;
      transition: 0.6s;
      background-color: $white;
      border-radius: 30px;
      opacity: 1;
      position: relative;
      &:not(:last-child){
        margin-bottom: 30px;
      }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $theme-color;
      border: 1px solid $theme-color;
      transition: 0.6s;
      position: relative;
      width: 5px;
      height: 5px;
      border-radius: 30px;

      &::before {
        @include before;
        border: 1px solid $theme-color;
        width: 20px;
        height: 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
      }
  }

}
.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.brand-slide-element {
	width: auto;
	display: inline-block;
}


.footer-bg {
  background-color: $header-color;
}

.page-nav-wrap {
  margin-top: 60px;

  ul {
      li {
          display: inline-block;

          &.active {

            .page-numbers {
              background-color: $theme-color;
              color: $white;
            }
          }

          .page-numbers {
              &.current {
                  background-color: $theme-color;
                  color: $white;
              }

              display: inline-block;
              width: 48px;
              height: 48px;
              text-align: center;
              line-height: 48px;
              border-radius: 0;
              background: $bg-color;
              color: $header-color;
              font-weight: 400;
              transition: all 0.3s ease-in-out;
              margin: 0 2px;

              @media (max-width: 767px) {
                  margin-top: 10px;
                  width: 40px;
                  height: 40px;
                  line-height: 40px;
                  font-size: 14px;
              }

              i {
                  margin-top: 2px;
                  color: $theme-color;
                  @include transition;
              }

              &:hover {
                  background-color: $theme-color;
                  color: $white;

                  i {
                    color: $white;
                  }
              }
          }
      }
  }
}


.swiper-number4 {
  text-align: center;

  .swiper-number-bullet {
      // width: 10px;
      // height: 10px;
      transition: 0.6s;
      // background-color: $gt-white;
      opacity: 1;
      border: 1px transparent;
      // border-radius: 100%;
      position: relative;
      color: $white;
  }

  .swiper-number-bullet.swiper-number-bullet-active {
      background-color: $theme-color;
      transition: 0.6s;
      position: relative;
      width: 35px;
      border-radius: 30px;
  }

}


.sticky-style {
  position: sticky !important;
  top: 100px;
}

.gt-slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.gt-brand-slide-element {
	width: auto;
	display: inline-block;
}

.p-relative {
  position: relative;
}

.array-buttons {
  @include flex;
  gap: 20px;

  @include breakpoint (max-xl) {
    flex-wrap: wrap;
  }

  .array-prev {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: transparent;
    color: $white;
    @include transition;
    border: 1px solid $white;

    @include breakpoint (max-sm) {
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
  
    i {
       transform: rotate(45deg);
       @include transition;
    }
  
    &:hover {
        background-color: $theme-color;
        border: 1px solid $theme-color;
  
        i {
          transform: rotate(90deg);
        }
    }
  }
  
  .array-next {
      width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      background-color: $white;
      color: $theme-color;
      @include transition;

      @include breakpoint (max-sm) {
        width: 50px;
        height: 50px;
        line-height: 50px;
      }
      
      
      i {
        transform: rotate(45deg);
        @include transition;
      }
  
      &:hover {
        background-color: $theme-color;
        color: $white;
  
        i {
          transform: rotate(90deg);
        }
      }
  }

}

.swiper-dot-5 {
  text-align: center;
  margin-top: 40px;

  .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      transition: 0.6s;
      background: #6F7278;
      border-radius: 10px;
      opacity: 1;
      position: relative;
      &:not(:last-child){
        margin-right: 15px;
      }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: $theme-color;
      transition: 0.6s;
      position: relative;
      width: 10px;
      height: 10px;
      border-radius: 10;
  }

}

.t-uppercase {
  text-transform: uppercase;
}

.custom-cursor {
    width: 30px;
    height: 30px;
    border: 2px solid $theme-color;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none; 
    transition: transform 0.1s ease, background 0.2s ease;
    z-index: 9999;
  }

 .boder-10 {
    border-radius: 10px;
 }