 .service-section-7 {
    position: relative;
    z-index: 9;
    overflow: hidden;

    &::before {
        @include before;
        z-index: -1;
       background: linear-gradient(0deg, rgba(29, 29, 29, 0.64) 0%, rgba(29, 29, 29, 0.64) 100%);
    }
}

   .service-wrapper-7 {
    padding-right: 60px;
    @include flex;
    justify-content: space-between;
    overflow: hidden;

    @include breakpoint (max-xl){
        padding-right: 30px;
        flex-wrap: wrap;
        gap: 30px;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 30px;
    }

    @include breakpoint (max-xl){
       padding-top: 80px;
       padding-bottom: 80px;
    }

    .service-box {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        border-left: 1px solid rgba(152, 152, 152, 0.48);
        display: grid;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        padding: 120px 120px;
        padding-right: 70px;
        margin-top: -30px;
        position: relative;
        z-index: 9;

        @include breakpoint (max-xl4){
          padding-left: 90px;
          padding-right: 30px;
        }

        @include breakpoint (max-xl){
           padding: 30px;
           transform: rotate(0);
           writing-mode: horizontal-tb;
           border-left: none;
           padding-right: 0;
           border: 1px solid rgba(255, 255, 255, 0.20) !important;
           flex-basis: 100%;
        }

        &::before {
            @include before;
           background: 
            linear-gradient(180deg, rgba(2, 2, 2, 0.09) 0%, #ADFF00 100%),
            url(../../assets/img/home-7/dot.png);
            opacity: 0;
            visibility: hidden;
            @include transition;
            z-index: -1;
        }

        &:first-child {
            padding-right: 60px;

            @include breakpoint (max-xl4){
               padding-right: 30px;
            }

            @include breakpoint (max-xl){
                padding-right: 0;
             }
        }

        &:last-child {
            border-left: none;
            //padding-right: 0;
            //padding-left: 0;
        }

        span {
            font-size: 20px;
            font-weight: 700;
            line-height: 1;
            color: $white;
        }

        .title {
            font-size: 60px;
            font-weight: 700;
            display: block;
            max-height: 450px;
            text-align: left;
            text-transform: uppercase;
            font-family: $body-font;

            @include breakpoint (max-xl4){
                font-size: 40px;
            }

            @include breakpoint (max-xxl){
                font-size: 30px;
            }

            @include breakpoint (max-xl){
                max-height: initial;
            }

            @include breakpoint (max-lg){
                font-size: 42px;
            }

            @include breakpoint (max-md){
                font-size: 35px;
            }


            @include breakpoint (max-sm){
               font-size: 30px;
            }

            @include breakpoint (max-xxs){
               font-size: 24px;
            }

            a {
                color: #5B5B5B;

                @include breakpoint (max-xl4){
                   color: $white;
                }
            }
            
        }

        &:hover {
            &::before {
                opacity: 1;
                visibility: visible;

                @include breakpoint (max-xl4){
                    opacity: 0;
                    visibility: hidden;
                }
            }

            .title {
               a {
                    color: $white;
               }
            }
        }
    }
}

.gt-service-details-wrapper {

    .gt-nav-items {
        padding: 30px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.20);
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        position: relative;
        overflow: hidden;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 90px;
            height: 1px;
            background: linear-gradient(90deg, #CBFE1C 0%, #0B0E13 100%);
            animation: slideBorder 6s linear infinite alternate;
        }

        &::after {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            content: "";
            width: 90px;
            height: 1px;
            background: linear-gradient(90deg, #CBFE1C 0%, #0B0E13 100%);
            animation: slideBorders 6s linear infinite alternate;

            @include breakpoint (max-xl){
                display: none;
            }
        }

        .nav {
            display: flex;
            justify-content: space-between;
           
            @include breakpoint (max-xl) {
                flex-wrap: wrap;
                gap: 20px;
               
            }
    
            @include breakpoint (max-xxs) {
                flex-wrap: wrap;
                gap: 18px;
            }
        
            li{
                font-size: 18px;
                font-weight: 400;
               
                @include breakpoint (max-xxs) {
                  font-size: 12px;
                }
               
               .nav-link{
                color: $white;
                @include transition;
                padding: 30px 25px;
                line-height: 1;
                border: 1px solid rgba(255, 255, 255, 0.20);
                position: relative;
                text-transform: capitalize;
                border-radius: 4px;

                @include breakpoint (max-xl) {
                    padding: 25px 25px;
                }

                @include breakpoint (max-lg) {
                    padding: 20px 20px;
                }

                @include breakpoint (max-xxs) {
                    padding: 16px 10px;
                }
               
                &.active {
                    position: relative;
                    background-color: $theme-color;
                    color: $header-color;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 32px;
                        height: 15px;
                        background-color: $theme-color;
                        left: 50%;
                        top: 100%;
                        transform: translateX(-50%);
                        clip-path: polygon(16% 0, 49% 100%, 85% 0);
                        @include transition;
                    }
                 }
               }
            }
          }
    }

    .tab-content {
        .gt-details-post-item {
            margin-top: 60px;
        
            .gt-details-image {
                margin-bottom: 20px;
    
                img {
                    @include imgw;
                    border-radius: 10px;
                }
            }
    
            .gt-details-content {
                h3 {
                    font-size: 36px;
                    margin-bottom: 15px;
    
                    @include breakpoint (max-lg) {
                        font-size: 30px;
                    }
    
                    @include breakpoint (max-md) {
                        font-size: 25px;
                    }
    
                    @include breakpoint (max-sm) {
                        font-size: 20px;
                    }
                }
    
                p {
                    margin-bottom: 15px;
                }
    
                .text {
                    margin-top: 40px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
                    padding-bottom: 20px;
                    margin-bottom: 30px;
                }
    
                .gt-service-feature-wrapper {
                    @include flex;
                    justify-content: space-between;
                    margin-bottom: 40px;
    
                    @include breakpoint (max-xl) {
                        flex-wrap: wrap;
                        gap: 30px;
                    }
    
                    .gt-feature-item {
    
                        .number {
                            font-size: 18px;
                            width: 44px;
                            height: 44px;
                            line-height: 44px;
                            text-align: center;
                            background-color: rgba(255, 255, 255, 0.20);
                            border-radius: 100%;
                            margin-bottom: 20px;
                            @include transition;
                            position: relative;
                            z-index: 1;
    
                            &::before {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                                top:0;
                                left: 0;
                                transform: scale(0);
                                background: $theme-color;
                                @include transition;
                                z-index: -1;
                            }
    
                        }
    
                        .gt-content {
                            h5 {
                                font-size: 18px;
                                font-weight: 400;
    
                                @include breakpoint (max-sm) {
                                    font-size: 16px;
                                }
                            }
                        }
    
                        &:hover {
    
                            .number {
                                color: $header-color;
                                &:before {
                                    transform: scale(1);
                                }
                            }
                        }
                    }
                }
    
                .thumb {
                    position: relative;
    
                    img {
                        @include imgw;
                        border-radius: 10px;
                    }
    
                    .video-btn {
                        background-color: $white;
                        color: $theme-color;
                        display: inline-block;
                        font-size: 16px;
                        height: 84px;
                        width: 84px;
                        line-height: 84px;
                        border-radius: 50%;
                        text-align: center;
                        position: relative;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                
                        @include breakpoint (max-md) {
                            width: 70px;
                            height: 70px;
                            line-height: 70px;
                        }
                
                        &::before {
                            position: absolute;
                            content: "";
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%,-50%);
                            width: 132px;
                            height: 132px;
                            border: 1px solid rgba(255, 255, 255, 0.30);
                
                            @include breakpoint (max-md) {
                                width: 90px;
                                height: 90px;
                                line-height: 90px;
                            }
                        }
                    }
                }
    
                .gt-text-2 {
                    font-size: 36px;
                    border-top: 1px solid rgba(255, 255, 255, 0.20);
                    padding-top: 20px;
                    margin-top: 40px;
    
                    @include breakpoint (max-lg) {
                        font-size: 30px;
                    }
    
                    @include breakpoint (max-md) {
                        font-size: 25px;
                    }
    
                    @include breakpoint (max-sm) {
                        font-size: 20px;
                    }
                }
    
                .gt-service-icon-wrapper {
                    @include flex;
                    justify-content: space-between;
                    margin-top: 30px;
                    margin-bottom: 60px;
    
                    @include breakpoint (max-xl) {
                        flex-wrap: wrap;
                        gap: 30px;
                    }
    
                    .gt-icon-item {
                        text-align: center;
    
                        .icon {
                            margin-bottom: 15px;
                            
                            img {
                                @include transition;
                                transition: transform 0.6s ease-in-out;
                                transform-origin: center center;
    
                                @include breakpoint (max-xl) {
                                    max-width: 80px;
                                }
                            }
                        }
    
                        h5 {
                            color: $text-color;
                            text-align: center;
                            @include transition;
    
                            @include breakpoint (max-sm) {
                                font-size: 18px;
                            }
                        }
    
                        &:hover {
    
                            .icon {
        
                                img {
                                    filter: brightness(0) invert(1);
                                     transform: scale(1.10);
                                }
                            }
        
                            h5 {
                                color: $theme-color;
                            }
                        }
                    }
                }
            }
        }
    }
}