.team-box-items {
    margin-top: 30px;
    display: flex;
    align-items: end;
    gap: 20px;
    opacity: .25;
    @include transition;

    .thumb {
        position: relative;

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            content: "";
            background: linear-gradient(180deg, rgba(11, 14, 19, 0.00) 0%, #0B0E13 95%);
            width: 100%;
            height: 83px;
            @include transition;
        }

        .social-icon {
            @include flex;
            position: absolute;
            bottom: 0;
            left: 0;
            gap: 8px;
            opacity: 0;
            @include transition;
            visibility: hidden;

            a {
                display: inline-block;
                width: 43px;
                height: 43px;
                background-color: #000;
                line-height: 43px;
                text-align: center;
                border-radius: 50%;
                color: $white;
                z-index: 9;
                overflow: hidden;
                position: relative;

                 &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $theme-color;
                    border-radius: 50%;
                    transform: translateY(-101%);
                    opacity: 0;
                    transition: all 0.4s ease-in-out;
                    visibility: hidden;
                    z-index: -1;
                }

                i {
                    -webkit-transition: all 900ms ease;
                    transition: all 900ms ease;

                    path {
                        @include transition;
                    }
                }

                &:hover {
                    color: $header-color;

                    &::before{
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }

                    i {
                        -webkit-transform: rotateY(360deg);
                        transform: rotateY(360deg);
                    }
                }
            }
        }

        img {
            @include imgw;
        }
    }

    .content {
        writing-mode: vertical-rl;
        transform: rotate(180deg);

        h3 {
            font-size: 24px;
            font-weight: 400;
            letter-spacing: -0.48px;
            text-transform: capitalize;

            a {
                color: $white;
        
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }

    &:hover {
        opacity: 1;

        .thumb {
            .social-icon {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.line-slider {
   position: relative;
   margin-top: 40px;

   &::before {
        position: absolute;
        top: 18px;
        left: 0;
        right: 0;
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.20);
   }

    .line1 {
        width: 20px;
        height: 1px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.10) 0%, #CBFE1C 50.96%, rgba(255, 255, 255, 0.10) 100%);
        display: inline-block;
        position: relative;
        z-index: 9;
    }
}

.line-slider2 {
   position: relative;

   &::before {
        position: absolute;
        top: 18px;
        left: 0;
        right: 0;
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.20);
   }

    .line1 {
        width: 20px;
        height: 1px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.10) 0%, #CBFE1C 50.96%, rgba(255, 255, 255, 0.10) 100%);
        display: inline-block;
        position: relative;
        z-index: 9;
    }
}

.team-single-style-2 {
    margin-top: 30px;
    background: #1C1D20;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.80);
    text-align: center;
    padding-top: 45px;
    position: relative;
    z-index: 9;
    overflow: hidden;
    border: 2px solid;
    border-image: linear-gradient(to top, #20280E, #CBFE1C) 1;


    .team-bg {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
        opacity: .4;
        @include transition;
    }

    .thumb {
        position: relative;
        overflow: hidden;

        .team-content {
            background: #000;
            padding: 20px;
            position: absolute;
            bottom: 40px;
            left: 70px;
            right: 70px;
            @include transition;
            bottom: -100px;
            opacity: 0;
            visibility: hidden;

            @include breakpoint (max-xxxl){
                left: 20px;
                right: 20px;
            }

            p {
                color: $theme-color;
                font-size: 16px;
                font-weight: 400;
              margin-top: 5px;
            }

            h3 {
                 a {
                color: $white;
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;

                  @include breakpoint (max-xl){
                   font-size: 20px;
                }

                &:hover {
                    color: $theme-color;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
                }
            }
            }
        }
    }

    .social-icon {
            display: grid;
            align-items: center;
            position: absolute;
            top: 20px;
            left: -100px;
            gap: 8px;
            opacity: 0;
            @include transition;
            visibility: hidden;

            a {
                display: inline-block;
                width: 43px;
                height: 43px;
                background-color: #000;
                line-height: 43px;
                text-align: center;
                border-radius: 50%;
                color: $white;
                z-index: 9;
                overflow: hidden;
                position: relative;

                 &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $theme-color;
                    border-radius: 50%;
                    transform: translateY(-101%);
                    opacity: 0;
                    transition: all 0.4s ease-in-out;
                    visibility: hidden;
                    z-index: -1;
                }

                i {
                    -webkit-transition: all 900ms ease;
                    transition: all 900ms ease;

                    path {
                        @include transition;
                    }
                }

                &:hover {
                    color: $header-color;

                    &::before{
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }

                    i {
                        -webkit-transform: rotateY(360deg);
                        transform: rotateY(360deg);
                    }
                }
            }
        }

    &:hover {
        .team-bg {
            opacity: 1;
        }

        .thumb {
            .team-content {
                opacity: 1;
                visibility: visible;
                bottom: 40px;
            }
        }
        .social-icon {
            opacity: 1;
            visibility: visible;
            left: 20px;
        }
    }
}

.team-slider-2 {
    margin-left: -35%;
    

    @include breakpoint (max-xxxl){
       margin-left: -18%;
    }

    @include breakpoint (max-xxl){
       margin-left: -30%;
    }

     @include breakpoint (max-xl){
       margin-left: 0;
    }
}

.team-section {
    position: relative;

    .radius-shape {
        position: absolute;
        top: 70px;
        left: 65px;

         @include breakpoint (max-xxl){
           display: none;
        }
    }

    .team-slider {
        margin-right: -33%;

         @include breakpoint (max-xl){
           margin-right: 0;
        }
    }
}

.team-section-2 {
    position: relative;

    @include breakpoint (max-xl){
      margin-bottom: 0px;
    }

    @include breakpoint (max-lg){
      margin-bottom: 0px;
    }

    .array-button {
        position: absolute;
        right: 150px;
        top: 50%;
        transform: translateY(-50%);

        @include breakpoint (max-xxl){
            position: absolute;
            right: initial;
            transform: translateX(-50%);
            bottom: 0%;
            left: 50%;
            display: flex !important;
            top: initial;
        }

        .array-prev, .array-next {
            &:hover {
                background-color: $header-color;
                color: $theme-color;

                svg path {
                    fill: $theme-color;
                }
            }
        }
    }
}

.team-section-2 {
  position: relative;

  .team-shape {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

     @include breakpoint (max-xl){
       display: none;
    }

    img {
      height: 100%;
    }
  }
}

.gt-team-section-4 {
    background: #121511;
    margin: 0 60px;

    @include breakpoint (max-xxxl){
        margin: 0 50px;
    }

    @include breakpoint (max-xxl){
        margin: 0 0;
    }

}

.gt-team-wrapper-4 {
    margin-top: 60px;

    @include breakpoint (max-md){
        margin-top: 30px;
    }

    .gt-team-area {
        position: relative;
        z-index: 9;

        &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            height: 100%;
            content: "";
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover;
            background: url("../../assets/img/home-4/team/team-bg.jpg");
            @include transition;
            z-index: -1;

            @include breakpoint(max-lg){
                display: none;
            }
        }

        .gt-team-box-items-2 {
            @include flex;
            justify-content: space-between;
            padding: 40px 0;

            @include breakpoint (max-lg){
                flex-wrap: wrap;
                gap: 30px;
                justify-content: center;
                text-align: center;
            }

            .gt-team-content {
               flex-basis: 48%;

               @include breakpoint(max-lg){
                    flex-basis: 100%;
                }

                span {
                    font-size: 16px;
                    font-weight: 700;
                    color: $theme-color;
                    display: inline-block;
                    margin-bottom: 10px;
                }

                h3 {
                    font-size: 70px;
                    font-weight: 400;
                    letter-spacing: -1.6px;
                    line-height: 1;
                    text-transform: uppercase;

                    @include breakpoint(max-xxl){
                        font-size: 60px;
                    }

                    @include breakpoint(max-xl){
                        font-size: 55px;
                    }

                    @include breakpoint(max-lg){
                        font-size: 65px;
                    }
                
                    @include breakpoint(max-md){
                        font-size: 55px;
                    }
                
                    @include breakpoint(max-sm){
                        font-size: 43px;
                    }
                
                    @include breakpoint(max-xxs){
                        font-size: 32px;
                    }

                    a {
                        color: transparent;
                        -webkit-text-stroke: 1px $white;

                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }

            .gt-social-icon {
                gap: 15px;
                
                @include breakpoint(max-lg){
                    flex-basis: 100%;
                    justify-content: center;
                }
            
                a {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background-color: #0B0E13;
                    color: $white;
                    @include transition;
                    border-radius: 50%;
        
                    &:hover {
                        background-color: $theme-color;
                        color: $header-color;
                    }
                }
            }
        }

        &:hover {
            &::before {
                width: 100%;
            }

            .gt-team-content {
                h3 {
                    a {
                        color: $white;
                        -webkit-text-stroke: 0px $white;
                    }
                }
            }
        }
    }
}

.bor-top {
    border-top: 1px solid rgba(151, 151, 151, 0.24);
}

.gt-team-image-3 {
    margin-top: 30px;
    position: relative;
    overflow: hidden;

    @include breakpoint (max-xxs){
       height: 400px;

       img {
        object-fit: cover
       }
    }

    img {
        @include imgw;
    }

    &::before {
        @include before;
        background: linear-gradient(180deg, rgba(255, 8, 8, 0.00) 0%, #CBFE1C 100%);
        opacity: 0;
        visibility: hidden;
        @include transition;
    }

    .gt-content {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        display: grid;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 0;
        z-index: 9;
        position: absolute;
        bottom: 30px;
        left: -80px;
        border-right: 4px solid $white;
        opacity: 0;
        visibility: hidden;
        @include transition;

        h3 {
            font-size: 30px;
            font-weight: bold;
            font-family: $body-font;

            a {
                color: $white;
            }
        }

        p {
            color: $white;
            font-weight: bold;
            font-size: 16px;
        }
    }

    .gt-social-icon {
        gap: 20px;
        position: absolute;
        right: 30px;
        bottom: -50px;
        opacity: 0;
        visibility: hidden;
        @include transition;

        a {
            color: $white;
        }
    }

    &:hover {
        &::before {
            opacity: 1;
            visibility: visible;
        }

        .gt-content {
            opacity: 1;
            visibility: visible;
            left: 30px;
        }

        .gt-social-icon {
            bottom: 28px;
            opacity: 1;
            visibility: visible;
        }
    }
}

.gt-team-section-3 {
    position: relative;
    z-index: 9;

    .gt-team-slider-3 {
        margin: 0 -7%;

        @include breakpoint (max-xl){
            margin: 0;
        }
    }

    .ellipse-bg-shape {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;

        @include breakpoint (max-xl4){
            display: none
        }
    }

    .dot-number {
        @include flex;
        gap: 20px;
        justify-content: end;
        position: relative;
        padding-left: 50px;
        padding-right: 70px;

        @include breakpoint (max-xxl){
            padding-left: 0;
            padding-right: 0;
        }

        @include breakpoint (max-md){
            display: none;
        }

        &::before {
            position: absolute;
            top: 12px;
            left: 0;
            content: "";
            width: 35px;
            height: 1px;
            background: linear-gradient(90deg, #CBFE1C 0%, #00130B 100%);

            @include breakpoint (max-xxl){
               display: none;
            }
        }

        &::after {
            position: absolute;
            top: 12px;
            right: 0;
            content: "";
            width: 35px;
            height: 1px;
            background: linear-gradient(90deg, #CBFE1C 0%, #00130B 100%);

            @include breakpoint (max-xxl){
                display: none;
            }
        }

        .swiper-pagination-bullet-active {
            .dot-num {
                span {
                    color: $theme-color;
                }
           }
        }

        .dot-num {
            span {
                font-size: 16px;
                font-weight: 700;
                color: #fff;
            }
       }
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        width: initial;
        left: 0;
        bottom: 0;
    }

    .swiper-pagination-bullet {
       width: 0;
       border-radius: 0;
       height: 0;
    //    margin-right: 0 !important0;
        &:not(:last-child){
            margin-right: 20px !important;
        }
    }
}

.gt-team-details-wrapper {

    .gt-team-details-item {

        .gt-details-iamge {
            z-index: 9;
            border-radius: 17.022px;
            border: 1.702px solid #CBFE1C;
            background: #1C1D20;
            padding: 30px 80px 0;
            text-align: center;
            position: relative;

            @include breakpoint (max-xxl) {
                padding: 30px 30px 0;
            }

            img {
                @include imgw;
            }

            .shape-image {
                position: absolute;
                z-index: -1;
                left: 60px;
                top: 20px; 

                @include breakpoint (max-xxl) {
                    left: 0;
                }

                @include breakpoint (max-lg) {
                    left: 70px;
                }

                @include breakpoint (max-sm) {
                    left: 0;
                }
            }
        }

        .gt-social-icon {
            gap: 15px;
            margin-top: 30px;

            @include breakpoint (max-xl) {
                flex-wrap: wrap;
            }

            span {
                display: inline-block;
                margin-right: 10px;
                color: $white;
            }
    
            a {
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                background-color: $white;
                border: 1px solid rgba(255, 255, 255, 0.20);
                background: $bg-color-2;
                color: $white;
                border-radius: 100px;
                @include transition;
    
                &:hover {
                   border: 1px solid $theme-color;
                  color: $theme-color;
                }
            }
        }
    }

    .gt-team-details-content {

        .text {
            color: $theme-color;
            font-size: 16px;
            font-weight: 400;
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 48px;
            margin-bottom: 10px;

            @include breakpoint (max-lg) {
                font-size: 40px;
            }

            @include breakpoint (max-sm) {
                font-size: 30px;
            }
        }

        h6 {
        
            span {
                color: $white;
            }
        }

        p {
            border-top: 1px solid rgba(255, 255, 255, 0.20);
            padding-top: 0px;
            margin-top: 20px;
        }

        .gt-progress-wrapper {
            border-top: 1px solid rgba(255, 255, 255, 0.20);
            padding-top: 20px;
            margin-top: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.20);
            padding-bottom: 30px;
            margin-bottom: 30px;

            h4 {
                margin-bottom: 20px;
            }
        
            .gt-progress-wrap {
            
                .pro-items {
                    width: 100%;
            
                    &:not(:last-child){
                        margin-bottom: 25px;
                    }
                    .pro-head {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 15px;
                        
                        .point {
                            font-size: 16px;
                            font-weight: 700;
                            color: $white;
                        }
                    }
            
                    .progress {
                        background: $white;
                        justify-content: flex-start;
                        align-items: center;
                        position: relative;
                        display: flex;
                        height: 5px;
                        width: 100%;
                    }
                    
                    .progress-value {
                        animation: load 3s normal forwards;
                        border-radius: 0;
                        background: rgba(203, 254, 28, 1);
                        height: 5px;
                        width: 0;
                    }
            
                    .style-two{
                        animation: load2 3s normal forwards;
                    }
            
                    .style-three{
                        animation: load3 3s normal forwards;
                    }
            
                    @keyframes load {
                        0% { width: 0; }
                        100% { width: 90%; }
                    }
                    @keyframes load2 {
                        0% { width: 0; }
                        100% { width: 70%; }
                    }
                    @keyframes load3 {
                        0% { width: 0; }
                        100% { width: 55%; }
                    }
                }
            }
        }

        .gt-text {
            border-top: none;
            padding-top: 0;
            margin-top: 10px;
        }

        .gt-week-list-item {
            margin-top: 30px;
            @include flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(255, 255, 255, 0.20);
            padding-bottom: 40px;
            margin-bottom: 40px;

            @include breakpoint (max-xl) {
                flex-wrap: wrap;
                gap: 30px;
            }

            .gt-week-list {
              
                li {
                    @include flex;
                    gap: 50px;
                    color: $white;

                    span {
                        color: rgba(171, 171, 171, 1);
                        font-weight: 500;
                    }

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .gt-details-card-item-4 {
            margin-top: 30px;

            .gt-details-image {
                position: relative;

                &::before {
                    @include before;
                    background: rgba(28, 29, 32, 0.60);
                }

                img {
                    @include imgw;
                    border-radius: 10px;
                }

                .gt-content {
                    position: absolute;
                    left: 30px;
                    bottom: 30px;

                    h6 {
                        font-size: 14px;
                        margin-bottom: 20px;
                    }

                    .gt-social-item {
                        @include flex;
                        gap: 10px;
                        margin-bottom: 20px;
        
                        @include breakpoint (max-xxxl) {
                            flex-wrap: wrap;
                        }
                        
                        li {
                            padding: 10px;
                            line-height: 1;
                            border-radius: 4px;
                            border: 1px solid rgba(255, 255, 255, 0.20);
                            font-size: 14px;
                            font-weight: 700;
                            color: $white;
                            background-color: rgba(28, 29, 32, 1);
                            @include transition;
        
                            &:hover {
                                border: 1px solid rgba(255, 255, 255, 0.20);
                                background: linear-gradient(90deg, #CBFE1C 0%, #0B0E13 100%);
                            }
        
                            i {
                                margin-right: 10px;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }

        .gt-team-bottom {
            border-top: 1px solid rgba(255, 255, 255, 0.20);
            padding-top: 30px;
            margin-top: 40px;

            h4 {
                margin-bottom: 15px;
            }

            p {
                border-top: none;
            }

            .gt-image-item {
                @include flex;
                justify-content: space-between;
                margin-top: 40px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.20);
                padding-bottom: 40px;
                margin-bottom: 40px;

                @include breakpoint (max-xl) {
                    flex-wrap: wrap;
                    gap: 30px;
                }

                .icon-image {

                    img {
                        @include transition;
                        transition: transform 0.6s ease-in-out;
                        transform-origin: center center;
                    }

                    &:hover {
                        
                        img {
                             transform: scale(1.15);
                        }
                    }
                }
            }

            .theme-btn {
                background-color: transparent;
                border: 1px solid $white;
                color: $white;

                &::before {
                    background-color: $theme-color;
                }

                 &::after {
                    background-color: $theme-color;
                }

                &:hover {
                    border: 1px solid $theme-color;
                    color: $header-color;
                }

                i {
                    margin-left: 5px;
                }
            }
        }
    }
}

 .gt-team-card-item {
        clip-path: polygon(9% 0, 100% 0, 100% 100%, 75% 100%, 0 100%, 0 15%);

        .gt-team-image {
            position: relative;
            overflow: hidden;

            img {
                @include imgw;
                // transform: scale(1.02);
                // transition: all 1.5s ease-out;
            }
    
            &::before {
                @include before;
                background: linear-gradient(180deg, rgba(11, 14, 19, 0.00) 20.5%, #FF0808 100%);
                transform: scale(1, 0);
                transition: transform 500ms ease;
                transform-origin: bottom center;
            }

            .gt-team-content {
                position: absolute;
                left: 50%;
                bottom: -30px;
                transform: translateX(-50%);
                text-align: center;
                opacity: 0;
                visibility: hidden;
                @include transition;
                z-index: 1;

                .gt-social-icon {
                    gap: 35px;
                    justify-content: center;
                    margin-bottom: 30px;
                    position: relative;
                    padding: 8px;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 370px;
                        height: 1px;
                        border: 1px solid rgba(255, 255, 255, 0.20);
                        left: -72%;
                        top: 0;
                    }

                    &::after {
                        position: absolute;
                        content: "";
                        width: 370px;
                        height: 1px;
                        border: 1px solid rgba(255, 255, 255, 0.20);
                        right: -72%;
                        bottom: 0;
                    }
            
                    a {
                        display: inline-block;
                        color: $white;
                        @include transition;
            
                        &:hover {
                           color: $theme-color;
                        }
                    }
                }

                h3 {
                    font-size: 30px;
    
                    @include breakpoint (max-xl) {
                        font-size: 20px;
                    }
    
                    a {
                        color: $white;
                        background-position: 0 95%;
                        background-repeat: no-repeat;
                        background-size: 0% 2px;
                        display: inline;
    
                        &:hover {
                            color: $white;
                            background-size: 100% 2px;
                            background-image: linear-gradient(180deg, $white 0%, $white 100%);
                        }
                    }
                }

                p {
                    color: $white;
                }
            }
        }

        &:hover {

            .gt-team-image {
               
                &::before {
                    transform: scale(1, 1);
                    transform-origin: bottom center;
                    z-index: 1;
                }
        
                .gt-team-content {
                    opacity: 1;
                    visibility: visible;
                    bottom: 30px;

                    
                }
            }
        }
    }